.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height: 400px;

}
.footer{
    background-color: aliceblue;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    margin: opx auto;
    padding: 70px 30px 70px 30px;
    background-color: aliceblue;
    color: darkslateblue;
}
body{
    padding-top:50px;
    z-index: 0;

}
.navbar-dark{
    background-color: #2B2B52;
}
#dt{
    margin-left: 15px;
}
#btn{
    margin-left: 30%;
}
#inlineRadio1{
    margin-left: 20px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.login{
    cursor:pointer;
    text-decoration:none ;
}